{% extends "base.html" %}

{% block content %}
<main class="main main--about">

    <p>
        Dear reader, thank you for visiting my personal webpage. Here, you can explore my latest projects for webapplications
        and other interesting Python scripts. My coding journey began during my bachelor's in <i>Physics and
        Astronomy</i> at the University, where Python was a core part of the curriculum. My early projects involved
        simulating physical processes and modeling mathematical techniques. I later pursued a minor in Programming,
        where I learned <i>object-oriented programming (OOP)</i> and languages like C, JavaScript, HTML, and Python. My
        two bachelor theses involved physics simulations using Matlab and Python to study spin-orbit resonance in
        terrestrial planets and gravitational waves signals from inspiraling binary neutron stars.
    </p>

    <p>
        In my previous position, I developed transcription software in Python to convert XML (CNXML) and HTML documents
        for digital educational materials. Throughout this project, I gained significant experience with Python
        libraries for parsing and generating various HTML and XML elements. Currently, I am working on online courses where I
        develop fullstack web applications using Django, Flask and React, while expanding my expertise in tools such as REST
        APIs, Git, Docker, MongoDB, and SQL databases. With eight years of coding experience, I am excited to continue
        working on new and fascinating projects.
        <!-- I hope to learn more about coding everyday and to work on more interesting projects in the upcoming future ! -->
    </p>

    <p class="reference">
        *This webpage was based on the course 'Web Developer Bootcamp with Flask and Python' of
        Jose Salvatierra (Teclado).
    </p>

</main>

{% endblock %}