{% extends "base.html" %} {% block content %}
<hr class="hr-about" />
<main class="main main--about">
  <p>
    Hi there ! Thank you for visiting my personal webpage. Here, you can explore
    my latest projects for webapplications and other interesting Python scripts
    !
  </p>

  <p>
    I started coding in Python during my bachelor's in <i>Physics</i>, for
    simulating physical processes and modeling mathematical techniques. Here I
    expanded my experience with a minor in <i>Programming</i> to learn more
    about <i>object-oriented programming (OOP)</i>, <i>data structures</i> and
    <i>web development</i> using languages such as C, Python, JavaScript, HTML
    and CSS. During my two final bachelor’s research projects I studied
    spin–orbit resonance in terrestrial planets and gravitational wave signals
    from inspiraling binary neutron stars, where I built and tested simulation
    programs in MATLAB and Python. Since then, I’ve discovered how rewarding
    coding can be and have thrown myself into new projects that continue to
    challenge and inspire me.
  </p>

  <p>
    After graduating, I worked in a team to develop educational software and
    produce digital learning materials. During these projects, I focused on both
    the user interface/user experience and backend development for students in
    higher professional education. One of these projects included the full
    development of transcription software in Python to automate the conversion
    of XML and HTML documents for digital educational materials. Here I gained
    knowledge and experience with large XML data structures and Python libraries
    for parsing and generating HTML and XML elements, which were both
    interesting and challenging. Since then, I have increasingly focused on
    developing end-to-end web applications across a wide range of projects,
    building full-stack applications with Django, Flask, and React, while
    working with tools and technologies such as REST APIs, OpenAI integration,
    Git, CI/CD, Docker, MongoDB, and SQL databases.
  </p>

  <p>
    I am passionate about creating efficient and innovative solutions,
    continuously learning new technologies, and enjoying collaboration in
    diverse teams. Having several years of coding experience, I look forward to
    continuing to work on new challenges and contributing to innovative
    projects!
  </p>
</main>
<hr class="hr-about" />
<p class="main reference">
  1. This webpage is exclusively intended for sharing my personal educational
  work and is not to be used for commercial purposes.
  <br />
  2. This webpage was based on the course 'Web Developer Bootcamp with Flask and
  Python' of Jose Salvatierra (Teclado).
</p>
<br />
{% endblock %}
