{% extends "base.html" %} {% block content %}
<hr class="hr-about" />
<main class="main main--about">
  <p>
    Hi there ! Thank you for visiting my personal webpage. Here, you can explore
    my latest projects for webapplications and other interesting Python scripts
    !
  </p>

  <p>
    I started coding in Python during my bachelor's in <i>Physics</i>, for
    simulating physical processes and modeling mathematical techniques. Here I
    expanded my experience with a minor in <i>Programming</i> to learn about
    <i>object-oriented programming (OOP)</i> and languages such as C,
    JavaScript, HTML and CSS. I completed my two bachelor theses with simulations
    in Matlab and Python to study spin-orbit resonance in terrestrial planets
    and gravitational wave signals from inspiraling binary neutron stars.
  </p>

  <p>
    After graduating, I focused on educational software development and
    building transcription software in Python to convert XML and HTML
    documents for digital educational materials. Here, I gained significant
    experience with webdevelopment and Python libraries for parsing and
    generating various HTML and XML elements. Since then, I've been working on
    a wide range of webdevelopment projects where I build fullstack web applications using
    Django, Flask and React, while expanding my expertise in tools such as REST
    APIs, Git, CI/CD, Docker, MongoDB, and SQL databases.
  </p>

  <p>
    I am passionate about creating efficient and innovative solutions,
    continuously learning new technologies, and enjoying collaboration in
    diverse teams. Having several years of coding experience, I look forward to
    continuing to work on new challenges and contributing to innovative projects
    !
  </p>
</main>
<hr class="hr-about" />
<p class="main reference">
  1. This webpage is exclusively intended for sharing my personal educational
  work and is not to be used for commercial purposes.
  <br />
  2. This webpage was based on the course 'Web Developer Bootcamp with Flask and
  Python' of Jose Salvatierra (Teclado).
</p>
<br />
{% endblock %}
