{% extends "base.html" %} {% block content %}
<hr class="hr-contact" />
<main class="main main--contact">
  <dl>

    <div class="contact">
      <dt>Name:</dt>
      <dd class="contact__details">
        <span>J. Pythoncoder</span>
      </dd>
    </div>

    <div class="contact">
      <dt>Email:</dt>
      <dd class="contact__details">
        <span>thepythonfarm[at]gmail.com</span>
      </dd>
    </div>

    <div class="contact">
      <dt>Github:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="https://github.com/jochemical">
          Check my Github out here !
        </a>
      </dd>
    </div>

    <div class="contact"></div>
  </dl>
</main>

{% endblock %}
