{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <!-- descriptive list -->
        <!-- <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="">
                    Check my Linkedin out here !
                </a>
            </dd>
        </div> -->

        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <span>thepythonfarm[at]gmail.com</span>
            </dd>
        </div>

        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="">
                    Check my Github out here !
                </a>
            </dd>
        </div>

        <div class="contact">
            <p class="reference">
                    This webpage is exclusively intended for sharing my personal work <br/> 
                    and is not to be used for commercial purposes. 
            </p>
        </div>

    </dl>

</main>

{% endblock %}
