{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <!-- descriptive list -->
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="">
                    Check my Linkedin out here !
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="">
                    Check my Github out here !
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}
