{% extends 'base.html' %} {% block content %}

<main class="main main--project">
  <div>
    <img
      class="hero"
      src="{{ url_for('static', filename=project['hero']) }}"
      alt="Example image of project"
    />

    <article class="project">
      <article class="project__content">
        <h2 class="project__heading">{{ project['name'] }}</h2>

        <p>
          My Cinema is a web application that allows users to create a
          personalized movie watchlist, where they can add various details such
          as the year of production, last-watched date, director, cast, tags,
          series, description, star rating, and an embedded YouTube iframe. To
          get started, users must first register by creating a personal account
          using their email address and a new password. Once registered, they
          can log in to view their personal movie list. Movies can be added by
          clicking the "Add" button located in the lower right corner, which
          opens a form for inputting movie details. Additional information can
          be added or modified later using the "Edit" link. CSS variables allow
          users to switch between light and dark modes.
        </p>

        <p>
          Through this project, I gained extensive knowledge of various
          libraries and backend techniques, including application
          configurations, data classes, input form setup, FlaskForms, WTForms,
          WTForm fields and validators, password hashing, decorators (wrappers),
          secret keys, session cookies (for storing user information), flash
          messages, and more. On the frontend, I applied a range of new
          techniques, such as CSS variables, Jinja2 pipe operators, BEM
          modifiers, HTML table structures, and numerous Jinja2 macros. This
          application is designed to adapt to different screen sizes, ensuring a
          responsive user experience. It uses a MongoDB database to store user
          profiles and link them to their personal movie collections. The
          project was developed in Flask and utilizes HTML (Jinja2), CSS, and
          Python. It was a valuable experience, allowing me to learn and
          implement various coding techniques.
        </p>

        <p class="reference">
          *This project was based on the course 'Web Developer Bootcamp with
          Flask and Python' of Jose Salvatierra (Teclado).
        </p>
      </article>

      <section>
        <article class="project__meta-group">
          <h3 class="project__heading project__heading--meta">
            Technologies used
          </h3>

          <ul class="technology-list">
            <li class="technology-list__item">Python</li>
            <li class="technology-list__item">HTML</li>
            <li class="technology-list__item">Jinja2</li>
            <li class="technology-list__item">CSS</li>
            <li class="technology-list__item">MongoDB</li>
          </ul>
        </article>

        <!-- <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a> -->
      </section>
    </article>
  </div>
</main>
{% endblock %}
